---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kdex.dev
  resources:
  - kdexapps
  - kdexhostcontrollers
  - kdexhostpackagereferences
  - kdexhosts
  - kdexpagearchetypes
  - kdexpagebindings
  - kdexpagefooters
  - kdexpageheaders
  - kdexpagenavigations
  - kdexscriptlibraries
  - kdexthemes
  - kdextranslations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kdex.dev
  resources:
  - kdexapps/finalizers
  - kdexhostcontrollers/finalizers
  - kdexhostpackagereferences/finalizers
  - kdexhosts/finalizers
  - kdexpagearchetypes/finalizers
  - kdexpagebindings/finalizers
  - kdexpagefooters/finalizers
  - kdexpageheaders/finalizers
  - kdexpagenavigations/finalizers
  - kdexscriptlibraries/finalizers
  - kdexthemes/finalizers
  - kdextranslations/finalizers
  verbs:
  - update
- apiGroups:
  - kdex.dev
  resources:
  - kdexapps/status
  - kdexhostcontrollers/status
  - kdexhostpackagereferences/status
  - kdexhosts/status
  - kdexpagearchetypes/status
  - kdexpagebindings/status
  - kdexpagefooters/status
  - kdexpageheaders/status
  - kdexpagenavigations/status
  - kdexscriptlibraries/status
  - kdexthemes/status
  - kdextranslations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
