apiVersion: kdex.dev/v1alpha1
kind: KDexClusterFaaSAdaptor
metadata:
  name: kdex-default-faas-adaptor-knative
spec:
  deployer:
    env:
    - name: DEBUG_SECURITY
      value: "true"
    image: ghcr.io/kdex-tech/knative-deployer:0.1.0
    command: ["/deployer", "deploy"]
  observer:
    image: ghcr.io/kdex-tech/knative-deployer:0.1.0
    command: ["/deployer", "observe"]
    schedule: "*/5 * * * *"
  defaultBuilderGenerator: tiny/go
  builders:
  - builderRef:
      kind: ClusterBuilder
      name: tiny-microservice-builder
    languages:
    - go
    name: tiny
  generators:
  - entrypoint: "./cmd/main.go"
    git:
      image: ghcr.io/kdex-tech/kdex-cli-tools:0.1.2
      committerEmail: test@kdex.dev
      committerName: KDex Codegen Bot
    image: ghcr.io/kdex-tech/fngogen:0.1.0
    language: go
  provider: knative
